<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @invoice.tax %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @invoice.employee_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invoice.status_type %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
