<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @invoice.tax %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @invoice.employee_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invoice.status_type %>
</p>

<h1>Purchases</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Delete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.name %></td>
        <td><%= purchase.category %></td>
        <td><%= purchase.quantity %></td>
        <td><h4><%= link_to "Delete", [@invoice, purchase], class:"btn btn-danger", method: :delete, confirm: "Are you sure you want to delete this purchase?" %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>

<%= link_to "Add new item", new_invoice_purchase_path(@invoice), class: 'float-xs-right' %>

